* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* COLORS */
/* FONT STACKS */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #343433;
  font-size: 100%; }

.container {
  height: 100%;
  max-width: 100%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.logo {
  width: 140px;
  height: 140px;
  margin: 0.5em auto;
  background-image: url("../img/logo.png");
  background-size: contain; }

.ir {
  overflow: hidden; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

b {
  font-weight: 700; }

.header {
  position: relative;
  height: 100%;
  width: 100%; }

.header_figure-left, .header_figure-right {
  position: absolute; }

.header_figure-left {
  left: 1em;
  bottom: 1em; }

.header_figure-right {
  right: 0;
  top: 0; }

.header-main {
  background-image: url("../img/header-main/bg.jpg");
  background-size: cover;
  height: 90%;
  overflow: hidden; }
  .header-main .header_figure-left {
    width: 300px;
    height: 400px;
    background-image: url("../img/header-main/chance-postit.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  .header-main .header_figure-right {
    width: 500px;
    height: 800px;
    margin-right: -100px;
    background-image: url("../img/header-main/notebook.png");
    background-size: contain;
    background-position: top 100px;
    background-repeat: no-repeat; }

.header-main_title {
  position: relative;
  top: 50%;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.salutation, .intro, .adjective {
  margin: 0; }

.intro {
  display: inline-block;
  margin-bottom: 0.5em;
  max-width: 10em; }

.adjective {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 5em;
  color: #f8d7e1;
  text-shadow: 3px 3px 5px grey; }

.googly-eye-divider {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 50px auto;
  background-color: white;
  border-radius: 50%;
  overflow: hidden; }
  .googly-eye-divider:before, .googly-eye-divider:after {
    display: block;
    position: absolute;
    content: "";
    width: 120px;
    height: 2px;
    background: #343433;
    z-index: 9999; }
  .googly-eye-divider:before {
    top: 18px;
    left: -145px; }
  .googly-eye-divider:after {
    top: 18px;
    left: 65px; }

.nav-overlay {
  position: absolute; }

html, body {
  font-family: "Quicksand", futura, "Open Sans", sans-serif;
  font-weight: 300; }

h1 {
  font-size: 3em;
  font-weight: 400;
  line-height: 1; }

.nav-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
  background: #f8d7e1; }

.project-list {
  margin: 0 auto;
  max-width: 40em;
  list-style: none; }

.project-list_item {
  display: inline-block;
  position: relative;
  margin: 1em 1em;
  width: 10em;
  height: 10em;
  list-style: none; }

.project-list_title {
  position: absolute;
  opacity: 0; }

.project-list_thumbnail {
  width: 100%;
  height: 100%; }

.project-list_thumbnail-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  transition: opacity 400ms ease; }
  .project-list_thumbnail-hover:hover {
    opacity: 1; }

/*# sourceMappingURL=main.css.map */
