<div class="push-about"></div>

<section class="about">

  <div class="about-center">

    <ul class="contact-icons">
      <li class="contact-icons_item"><a href="#" class="contact-icons_item-link" data-link="phone">Call Me</a></li>

      <li class="contact-icons_item"><a href="#" class="contact-icons_item-link" data-link="resume">Download Resume</a></li>

      <li class="contact-icons_item"><a href="#" class="contact-icons_item-link" data-link="email">Email Me</a></li>
    </ul>

    <aside class="about-copy">

      <h2 class="about-headline bold">Not impressed yet? Download my resume here!</h2>
      <p>Hi my name is Holly, I'm a graphic designer with a passion for beautiful design with a clever twist. I love coming up with new and innovative design solutions that are playful, personal, but most of all effective. I also happen to be a pop culture junkie, dog person, and a Harry Potter fan.</p>
      <p>Please do contact me with and projects, full-time opportunities, juicy gossip, or recent dreams</p>

    </aside>

  </div>

  {% include footer.html %}

</section>
