<footer class="footer">
  <ul class="social-icons">
    <li class="social-icons_item"><a href="http://www.facebook.com" class="social-icons_link">Facebook</a></li>
    <li class="social-icons_item"><a href="http://www.linkedin.com" class="social-icons_link">LinkedIn</a></li>
    <li class="social-icons_item"><a href="http://www.twitter.com" class="social-icons_link">Twitter</a></li>
    <li class="social-icons_item"><a href="http://www.tumblr.com" class="social-icons_link">Tumblr</a></li>
    <li class="social-icons_item"><a href="http://www.instagram.com" class="social-icons_link">Instagram</a></li>
  </ul>
</footer>
