<header class="header header-main">

  <div class="header_figure-left">
  </div>
  <div class="header_figure-right">
  </div>

  <section class="header_title-block">

    <h1 class="holly_logo ir">Holly Bowden</h1>

    <h2 class="salutation bold">Salutations!</h2>

    <div class="shuffle-scope">    <!-- Perhaps add js namespacing to shufflescope classes -->
      <p class="intro">My name is Holly&nbsp;Bowden<br>and I am <span class="article">a<span class="article-an">n</span></span></p>
      <div class="adjective-container">
        <h1 class="adjective">Problem Solver</h1>
      </div>
      <div class="googly-eye-divider"><img class="shuffle-button" src="img/googly-eye.gif" alt="Googly-eye"></div>
    </div>

  </section>

</header>
