$footer-height: 100px;
.about {
  position: relative;
  margin-bottom: -$footer-height;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-image: url('../img/header-main/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $grey;
}
// .about-center {
//   position: relative;
//   margin-top: 50%;
//   @include transform(translate3d(0,-50%,0));
// }
.about:after {
  display: block;
  content: "";
}
.contact-icons {
  margin: 0;
  // margin-bottom: 1em;
  // padding-top: 2em;
  list-style: none;
  text-align: center;
  @include clearfix();
}

.contact-icons_item {
  display: inline-block;
  width: 200px;
  height: 200px;
}

.contact-icons_item-link {
  display: block;
  position: relative;
  border: 0;  // IR
  font: 0/0 a;  // IR
  text-shadow: none; // IR
  color: transparent;  // IR
  background-color: transparent;  // IR
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &[data-link='phone'] {
    background-image: url('../img/phone-icon.svg');
  }
  &[data-link="resume"] {
    background-image: url('../img/resume-icon.svg');
  }
  &[data-link="email"] {
    background-image: url('../img/email-icon.svg');
  }
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('..img/logo.png');
    background-size: cover;
  }
}

.about-copy {
  margin: auto;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: center;
  p {
    margin: 0 auto;
    max-width: 42em;
  }
}
.about-headline {
  margin-bottom: 0.5em;
}
.footer {
  position: relative;
  // margin-top: 1em;
  bottom: 0;
  left: 0;
  width: 100%;
  // height: $footer-height;
  background: $pink;
}
.about:after, .footer {
  height: $footer-height;
}

.social-icons {
  margin: 0.3em auto;
  // width: 800px;
  height: 100%;
  list-style:  none;
  text-align: center;
  vertical-align: bottom;
}
.social-icons_item {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 10px;
  // float: left;
}
.social-icons_link {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include transition(opacity 300ms ease);
  @include hide-text;
  &[href^="http://www.facebook"] {
    background-image: url('../img/icons/facebook.svg');
  }
  &[href^="http://www.twitter"] {
    background-image: url('../img/icons/twitter.svg');
  }
  &[href^="http://www.linkedin"] {
    background-image: url('../img/icons/linkedin.svg');
  }
  &[href^="http://www.tumblr.com"] {
    background-image: url('../img/icons/tumblr.svg');
  }
  &[href^="http://www.instagram.com"] {
    background-image: url('../img/icons/instagram.svg');
  }
  &:hover {
    opacity: 0.4;
  }
}
