.about {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../img/header-main/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $grey;
}

.contact-icons {
  margin: 0 auto;
  padding-top: 2em;
  list-style: none;
  @include clearfix();
  li {
    display: block;
    float: left;
  }
}
<<<<<<< HEAD
.contact-icons_item {
  width: 200px;
  height: 200px;
}

.contact-icons_item-link {
  display: block;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
=======
.contact-icons_item-link {
  @include hide-text;
>>>>>>> about
  height: 150px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  &[data-link='phone'] {
    background-image: url('../img/phone-icon.svg');
  }
}

.about-copy {
  margin: 1em auto;
  max-width: 80em;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: $pink;
}

.social-icons {
  margin: 0 auto;
  width: 800px;
  list-style:  none;
}
.social-icons_item {
  display: block;
  width: 100px;
  height: 100px;
  float: left;
}
