// Prevent highlighting googly-eye on mobile
*, *:before, *:after {
  -webkit-tap-hightlight-color: transparent;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  // overflow-x: hidden; // Causing issues in older safari
  color: $offblack;
  font-size: 100%;
}

ul {
  padding: 0; // reset
}

.nav-active_scroll-freeze {
  overflow: hidden;
  margin-left: calc(100vw - 100%);
}

.container {
  height: 100%;
  max-width: 100%;
  @include clearfix;
}

.holly_logo {
  width: 140px;
  height: 140px;
  margin: 0.5em auto;
  background-image: url('../img/logo.png');
  background-size: contain;
}
.ir {
  @include hide-text;
}
.bold {
  font-family: 'quicksandbold';
}
