.header-main {
  background-image: url('../img/header-main/bg.jpg');
  background-size: cover;
  .header_figure-left {
    width: 300px;
    height: 400px;
    background-image: url('../img/header-main/chance-postit.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    @include transform(rotate(-20deg));
  }
  .header_figure-right {
    width: 500px;
    height: 800px;
    margin-right: -100px;
    background-image: url('../img/header-main/notebook.png');
    background-size: contain;
    background-position: top 100px;
    background-repeat: no-repeat;
  }
}
.header-main_title {
  position: relative;
  top: 50%;
  margin: 0 auto;
  max-width: 80%;
  text-align: center;
  @include transform(translate3d(0,-50%,0));
}
.salutation, .intro, .adjective {
  margin: 0;
}
.intro {
  display: inline-block;
  margin-bottom: 0.5em;
  max-width: 14em;
}
.adjective {
  font-family: $futura;
  text-transform: uppercase;
  font-size: 5em;
  color: $pink;
  text-shadow: 3px 3px 5px grey;
}

.googly-eye-divider {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 50px auto;
  background-color: white;
  border-radius: 50%;
  &:before, &:after {
    display: block;
    position: absolute;
    content: "";
    width: 120px;
    height: 2px;
    background: $offblack;
  }
  &:before {
    top: 18px;
    left: -145px;
  }
  &:after {
    top: 18px;
    left: 65px;
  }
}
