.header {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100%;
  // margin-bottom: 1em;
  overflow: hidden;
}

.header_figure-left, .header_figure-right {
  position: absolute;
  background-size: cover;
}

.header_title-block {
  position: relative;
  top: 50%;
  margin: 0em auto;
  // max-width: 90%;
  max-height: 100%;
  text-align: center;
  @include transform(translate3d(0,-50%,0));
}
.header_title {
  font-size: 3em;
}
.title_article {
  display: block;
  font-family: $quicksand;
  font-size: 0.4em;
}
.header_divider {
  position: relative;
  $width: 4em;
  width: $width;
  height: $width * 0.75;
  margin: 0 auto 1em auto;
  padding: 0 0.2em;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  background-position-x: center;
  &:before, &:after {
    display: block;
    content: '';
    position: absolute;
    width: 3em;
    height: 2px;
    bottom: 50%;
    background: inherit;
  }
  &:before {
    // top: 50%;
    left: -3em;
  }
  &:after {
    // top: 50%;
    left: 100%;
  }
}

[class~="header_figure-"] {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.header_figure-left {
  left: 0;
}
.header_figure-right {
  right: 0;
}
.header_figure-bottom {
  @include animation(kf_fade-up $animation_header-delay ease);
  bottom: 0;
}
header_figure-top {
  @include animation(kf_fade-down $animation_header-delay ease);
  top: 0;
}
