.header {
  position: relative;
  min-height: 100%;
  width: 100%;
  // margin-bottom: 1em;
  overflow: hidden;
}

.header_figure-left, .header_figure-right {
  position: absolute;
}

.header_figure-left {
  left: 1em;
  bottom: 1em;
}

.header_figure-right {
  right: 0;
  top: 0;
}

main.projects {
  &:before {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
  }
  &:after {
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
  }
}
