.TEST_nav-overlay > * {
  display: none;
}

.nav-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  width: 100%;
  margin: 0;
  background: rgba($pink, 0.7);
}
.nav-overlay_list {
  position: relative;
  top: 50%;
  @include transform(translate3d(0,-55%,0));
  list-style: none;
  li {
    margin-bottom: 2em;
    text-align: center;
    max-width: 27em;
  }
  a {
    position: relative;
    font-family: $futura;
    font-size: 4em;
    text-decoration: none;
    color: inherit;
    &:hover {
      &::after {
        background: $blue;
        @include transform(translate3d(-50%,-10px,0));
      }
    }
    &::after {
      display: block;
      position: relative;
      left: 50%;
      content: "";
      width: 100px;
      height: 20px;
      background: $offblack;
      border-radius: 10px;
      @include transform(translate3d(-50%,0,0));
      @include transition(all 400ms ease);
    }
  }
}
