.project-filter {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 100%;
  height: 1em;
  background: white;
  text-align: center;
}
.project-filter_input {
  display: none;
}
.project-filter_label {
  display: inline-block;
  padding: 0.3em 1em;
  font-family: $futura;
  border-radius: 10px;
  @include transition(all 300ms ease);
  &:hover {
    background: $offblack;
    color: white;
  }
}
