
.project {

  background-color: white;

  .project_header {

  }

  .project-description {
    position: relative;
    padding: 1em;
    @include clearfix();
  }

  .project-description-categories {
    display: block;
    margin-bottom: 1em;
    height: 100%;
    width: 100%;
    // float: left;
    list-style: none;
    text-align: center;
    li {
      font-size: 1em;
      font-weight: 900;
      display: inline-block;
      margin: 0 1em;
    }
    @include bp(tabletplus) {
      width: auto;
      height: 100%;
      width: 20%;
      float: left;
      text-align: left;
      li {
        display: block;
        margin-bottom: 0.5em;
      }
    }
  }

  .project-description-words {
    @include bp(tabletplus) {
      float: left;
      width: 80%;
    }
  }

  .project-photo-container {
    img {
      display: block;
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

}


/* BELOW are per-project styles that should eventually be split into seperate files */

$WW_headerbg: #f6e2d9;
$WW_title: #9d4c43;

.project-WW {
  .project_header {
    background-color: $WW_headerbg;
  }
  .header_figure-right {
    @include animation(kf_fade-down $animation_header-delay ease);
    $aspect: 0.898395722; // aspect = [image X] / [image Y]
    right: 0;
    top: 0;
    $width: 300px;
    @include build-figure($width, $aspect, 0.5);
    background-image: url('../img/projects/walker-wedding/header-flowers.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include bp(phablet) {
      @include build-figure($width, $aspect, 0.5);
    }
    @include bp(tablet) {
      @include build-figure($width, $aspect, 0.8);
    }
    @include bp(desktop) {
      @include build-figure($width, $aspect, 1.2);
    }
  }
  .header_title {
    color: $WW_title;
  }
  .header_divider {
    height: 3em;
    width: 3em;
    background-image: url('../img/projects/walker-wedding/icon-cake.png');
    &:before, &:after {
      background-color: $WW_title;
      // top: auto !important;
      bottom: 0.5em;
    }
  }
}
