.project-list {
  margin: 0 auto;
  max-width: 40em;
  list-style: none;
}
.project-list_item {
  display: inline-block;
  position: relative;
  margin: 1em 1em;
  width: 10em;
  height: 10em;
  list-style: none;
}
.project-list_title {
  position: absolute;
  opacity: 0;
}
.project-list_thumbnail {
  width: 100%;
  height: 100%;
}
.project-list_thumbnail-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  @include transition(opacity 400ms ease);
  &:hover {
    opacity: 1;
  }
}
