.project-filter {
  margin: 0 auto 2em auto;
  padding: 0;
  // margin-bottom: 2em;
  width: 100%;
  // height: 1em;
  background: white;
  text-align: center;
  @include bp(mobileonly) {
    margin-bottom: 0;
    padding: 0 3em;
  }
}
.project-filter_category {
  display: inline-block;
  padding: 0.3em 1em;
  font-family: $futura;
  border-radius: 10px;
  @include transition(all 300ms ease);
  a {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    background: $offblack;
    color: white;
  }
  @include bp(mobileonly) {
    display: block;
  }
}
