html, body {
  font-family: $quicksand;
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1;
  @include bp(tablet) {
    font-size: 1.2em;
  }
  @include bp(desktop) {
    font-size: 1.5em;
  }
}

h1, h2 {
  margin: 0;
  line-height: 1;
}

h1 {
  font-family: $futura;
  text-transform: uppercase;
  font-size: 2em;
}
