/* COLORS */
$pink: #f8d7e1;
$offblack: #343433;
$grey: #58595b;
$blue: #92c3ce;
$coral: #f79e86;
$purple: #db98e5;
$green: #4fbe94;
$icon-facebook: #53be93;
$icon-linkedin: #92c3ce;
$icon-twitter: #db98e5;
$icon-tumblr: #c2cde9;
$icon-instagram: #f79e86;

/* FONT STACKS */
$quicksand: 'quicksandregular', futura, 'Open Sans', sans-serif;
$futura: 'ralewaybold', sans-serif;

$animation_header-delay: 2000ms;
