/* Keyframe snippet from http://www.welcometocreature.com */
@include keyframes(kf_glitch) {
  0% {
    @include transform(skewX(9deg));
  }
  10% {
    @include transform(skewX(-8deg));
  }
  20% {
    @include transform(skewX(23deg));
  }
  30% {
    @include transform(skewX(-110deg));
  }
  40% {
    @include transform(skewX(29deg));
  }
  50% {
    @include transform(skewX(-90deg));
    text-shadow:  -7px -1px 0px #fdee00,
                  6px 2px 0px #21abcd,
                  3px -2px 0px #ff2052;
  }
  60% {
    @include transform(skewX(3deg));
  }
  70% {
    @include transform(skewX(-2deg));
  }
  80% {
    @include transform(skewX(1deg));
  }
  90% {
    @include transform(skewX(0deg));
    text-shadow:  -7px -1px 0px #fdee00,
                  6px 2px 0px #21abcd,
                  3px -2px 0px #ff2052;
  }
  100% {
    @include transform(skewX(0deg));
  }
}


@include keyframes(kf_fade-up) {
  from {
    opacity: 0;
    @include transform(translate3d(0,10%,0));
  }
  to {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }
}

@include keyframes(kf_fade-down) {
  from {
    opacity: 0;
    @include transform(translate3d(0,-10%,0));
  }
  to {
    opacity: 1;
    @include transform(translate3d(0,0,0));
  }
}

@include keyframes(kf_fade-in) {
  from {
    opacity: 0;
    // @include transform(translate3d(0,-10%,0));
  }
  to {
    opacity: 1;
    // @include transform(translate3d(0,0,0));
  }
}

@include keyframes(kf_giggle) {
  5% {
    @include transform(translate3d(-10%,0,0));
  }
  15% {
    @include transform(translate3d(10%,0,0));
  }
  25% {
    @include transform(translate3d(-10%,0,0));
  }
  35% {
    @include transform(translate3d(10%,0,0));
  }
  45% {
    @include transform(translate3d(-10%,0,0));
  }
  50% {
    @include transform(translate3d(0,0,0));
  }
  100% {

  }
}
